<h1>Buchung</h1>
<p>Hallo World!</p>
<%= javascript_include_tag :defaults %>


<%= image_tag("unoccupied.png", :class => 'seat', :name => 'unoccupied')%>
<%= image_tag("occupied.png", :class => 'seat', :name => 'occupied')%>
<%= image_tag("reserved.png", :class => 'seat', :name => 'reserved')%>


