<h1>Theresienball Event Management System</h1>
<p>Hallo World!</p>
<%=  javascript_include_tag :defaults %>

<%= link_to "Neuen Kunden anlegen", new_customer_path %>
<%= link_to "Kartenbestellung", :action => 'booking' %>
