<div class="page-header">
  <%= image_tag("logo.png") %>
</div>

<div id="index-text">
  <p class="lead">
    Der diesj&auml;hrige Theresienball findet am <strong>20. Oktober</strong> um 19.00 Uhr in der Turnhalle der Theresienschule statt.
  </p>
  <p class="lead">Musikalisch begleitet werden wir von Steve Horn und seiner Band.
    <br>F&uuml;r die eingeschworenen Nichtt&auml;nzer haben wir ein R&uuml;ckzugsgebiet vorgesehen!
  </p>
  <p class="lead">Um Karten zu bestellen, klicken Sie bitte <%=  link_to "hier", :booking %>
  </p>
  <p class="lead">Wir freuen uns auf einen sch&ouml;nen Ballabend. <br> Das Theresienball-Team </p>
</div>





