<div class="page-header">
  <h1>Impressum</h1>
</div>

<address>
  <strong>Theresienball-Team</strong> <br>
  vertreten durch Julien Bergner <br>
  c/o Katholische Theresienschule <br>
  Behaimstra&szlig;e 29 <br>
  13086 Berlin <br>
</address>
<address>
  <strong>Telefon</strong><br>
  030/9246425
</address>
<address>
  <strong>E-Mail</strong><br>
  <%=  mail_to "theresienball@theresienschule.de", "theresienball@theresienschule.de" %>
</address>
<hr>
<h4>Artwork</h4>
<p>Wir danken <%=  link_to "www.memoschmiede.de", "http://www.memoschmiede.de" %> für die Erstellung der Grafiken für die Website, der Werbeplakate und der Eintrittskarten.</p>
<hr>

<h4>Webdevelopment</h4>
<p>Julien Bergner & Nicolas Fricke</p>
