<div class="page-header">
  <h2>Impressum</h2>
</div>
<div class="ems-content">
<p class="lead">
  <strong>Theresienball-Team</strong> <br>
  vertreten durch Julien Bergner <br>
  c/o Katholische Theresienschule <br>
  Behaimstra&szlig;e 29 <br>
  13086 Berlin <br>
</p>
<p class="lead">
  <strong>Telefon</strong><br>
  030/9246425
</p>
<p class="lead">
  <strong>E-Mail</strong><br>
  <%=  mail_to "theresienball@theresienschule.de", "theresienball@theresienschule.de" %>
</p>
<hr>
<h3>Artwork</h3>
<p class="lead">Wir danken <%=  link_to "www.memoschmiede.de", "http://www.memoschmiede.de" %> für die Erstellung der Grafiken für die Website, der Werbeplakate und der Eintrittskarten.</p>
<hr>

<h3>Webdevelopment</h3>
<p class="lead">Julien Bergner & Nicolas Fricke</p>
</div>