<div class="ems-content">
<h3> Vielen Dank f&uuml;r Ihre Bestellung! </h3>
<br/>
<h3> Sie erhalten innerhalb der n&auml;chsten 24 Stunden eine Bestellsbest&auml;tigung per E-Mail zugeschickt.</h3>
</div>