// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#selection-view-container {
  position: relative;
  background-color: #ffffff;
  width: 400px;
}

#customer-view-container {
  position: relative;
  background-color: #ffffff;
  width: 400px;
}

#customer-form-container {
  position: relative;
  background-color: #ffffff;
  width: 400px;
}

#change-seat-button-div {
  text-align: right;
}

#change-seats-button {
  margin-right: 50px;
}

#edit-customer-button-div {
  text-align: right;
}

#edit-customer-button {
  margin-right: 50px;
}

.input-street-number {
  width: 30px;
}

.input-street-name {
  width: 105px;
}

.input-zip {
  width: 40px;
}

.input-city {
  width: 95px;
}

form .clearfix:before, form .clearfix:after {
  display: inline;
}

.customer-view-element {
  font-size: 15px;
}

