<h2>Sie möchten Ihre Tanzkenntnisse auffrischen?</h2>
<hr>
<h4>Im Vorfeld des Theresienballs 2013 bieten wir Ihnen folgende Gelegenheiten:</h4>
<ul>
<li><h4>Tanzstunde (1h) am 17.10.2013, 17.00-18.00 Uhr (vorrangig, aber nicht ausschließlich für Schüler)</h4></li>
<li><h4>Tanzstunde (1h) am 17.10.2013, 18.00-19.00 Uhr (vorrangig, aber nicht ausschließlich für Eltern & Lehrer)</h4></li></ul>
<br/>
<h4>Die Tanzstunden finden in der Tanzschule <u><%= link_to "Dance-Discounter", "http://www.dance-discounter.de" %></u> in der Roelckestraße 72 in 13088 Berlin-Weißensee statt und kosten 4 € pro Person für Schüler und 8 € pro Person für Eltern und Lehrer.</h4>
<hr>
<h4>Bitte melden Sie sich zur besseren Planung über folgendes Formular an:</h4>
<br/>

<%= render 'form' %>


