<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Theresienball 2012</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "Karten bestellen", :booking %></li>
          <li><%= link_to "Impressionen", :photos  %></li>
          <li><%= link_to "Sponsoren", :sponsors  %></li>
          <li><%= link_to "Kontakt", :contact  %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>